---
layout: page
title : 文章
header : 所有文章
group: navigation
---
{% include JB/setup %}

{% assign posts_collate = site.posts %}
<div class="page card">
{% include JB/posts_collate %}
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NXW863KG3T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NXW863KG3T');
</script>